*{
	box-sizing: border-box;
}

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Extrabold';
    src: url('../fonts/opensans-extrabold/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.leaguegothic {font-family: 'League Gothic';}
.opensanlight {font-family: 'Open Sans Light';}
.opensansextrabold {font-family: 'Open Sans Extrabold';}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*--------------FON-------------*/
.fon1 {
	max-width: 100%;
	height: 846px;
	background: url(../img/bg_top.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;
}
.fon2 {
	height: 340px;
	border-top: #33253a solid 1px;
	border-bottom: #1d2f37 solid 1px;
	background-image: linear-gradient(to top, #322539 0%, #745083 100%);
}
.fon3 {
	height: 486px;
	background-color: #f9f9f9;
	border-top: #0d151d solid 1px;
	border-bottom: #e6e6e6 solid 1px;
}
.fon4 {
	height: 119px;
	background-color: #f9f9f9;
	border-top: #fefefe solid 1px;
	border-bottom: #fefefe solid 1px;
}
.fon5 {
	height: 396px;
	background-color: #ececec;
	border-top: #d8d8d8 solid 1px;
}
.fon6 {
	height: 114px;
	background: url(../img/bg_bottom.jpg);
	background-size: cover;
	overflow: hidden;
}
/*-------------HEADER-----------------*/
.header {
	width: 100%;
	max-width: 960px;
	margin: 50px auto 165px;
	overflow: hidden;
}
.logo {
	position: relative;
	float: left;
}
.menu {
	display: block;
	list-style-type: none;
	float: right;
	padding-top: 21px;
}
.menu__item, .menu__item--first {
	display: block;
	float: left;
	padding-left: 51px;
}
.menu__item--first {padding-left: 0;}
.menu__link {
	text-decoration: none;
	text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
	color: white;
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
	text-transform: uppercase;
}
.menu__link:hover {
	border-bottom: 2px solid #edbfff;;
} 
/*------------SLIDER----------*/
.fon-slider {
	width: 100%;
	height: 400px;
	background-color: rgba(0,0,0,0.2);
}
.sliders {
	width: 100%;
	max-width: 960px;
	height: 400px;
	margin: 0 auto;
}
.slider-article{
	display: block;
	width: 52%;
	float: left;
	padding-top: 10px;
}
.slider-article__title {
	padding-top: 80px;
	color: #fefefe;
	font-size: 60px;
	font-weight: 400;
	line-height: 36px;
}
.slider-article__under-title {
	color: #edbfff;
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 400;
	line-height: 36px;
	padding-top: 10px;
}
.slider-article__text {
	color: white;
	font-size: 18px;
	font-weight: 300;
	line-height: 25px;
	padding-top: 2px;
}
.sliders__img {
	position: relative;
	float: right;
	margin-right: 70px; 
	top: -15px;
}
.radio-navigation {
	position: relative;
	top: 100px;
	float: right;
	margin-right: 166px; 
}
.radio-navigation__lable {
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin-right: 17px;
}
input[name=radio-slider] {
	display: none;
}
.radio-navigation__lable:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	margin-right: 20px;
	left: 0;
	bottom: 1px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 8px;
}
input[name=radio-slider]:checked + .radio-navigation__lable:before {
	content: "\25CF";
    color: white;
    font-size: 25px;
    line-height: 16px;
}
/*--------------CONTENT------------------*/
/*---ABOUT OUR COMPANY----*/
.blurds {
	width: 100%;
	max-width: 960px;
	margin: 79px auto 0;
}
.blurds-article {
	width: 275px;
	float: right;
	margin-left: 62px;
}
.blurds-article:last-child {
	margin-left: 0;
}
.blurds-article__sprite--first {
	display: block;
	width: 24px;
	height: 28px;
	float: left;
	padding-top: 7px;
	position: relative;
	background: url(../img/spayt-blurds.png) 0 0  no-repeat;
	background-position: 0 0; 
}
.blurds-article__article {
	display: inline-block;
	width: 224px;
	float: right;
	position: relative;
}
.blurds-article__titel {
	text-shadow: 0.5px 0.9px 0 #0f1518;
	color: white;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
}
.blurds-article__text {
	padding-top: 12px;
	text-shadow: 0.5px 0.9px 0 #0f1518;
	color: white;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}
.blurds-article__link {
	float: right;
	padding-right: 2px;
	text-transform: uppercase;
	padding-top: 15px;
	text-decoration: none;
	text-shadow: 0.5px 0.9px 0 #0f1518;
	color: white;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}	
.blurds-article__link:hover {
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.blurds-article__sprite--second {
	display: block;
	width: 28px;
	height: 28px;
	float: left;
	padding-top: 7px;
	position: relative;
	background: url(../img/spayt-blurds.png) 0 0  no-repeat;
	background-position: -25px 0; 
}	
.blurds-article__sprite--third {
	display: block;
	width: 24px;
	height: 28px;
	float: left;
	padding-top: 7px;
	position: relative;
	background: url(../img/spayt-blurds.png) 0 0  no-repeat;
	background-position: -53px 0; 
}	
/*--------------------fon3-----------*/
.fon3__content {
	width: 100%;
	max-width: 960px;
	margin: 99px auto 0;
}
/*-----testimonials--------*/
.testimonials {
	width: 427px;
	float: left;
}
.testimonial {
	width: 427px;
	height: 272px;
	padding: 32px 42px 0 38px;
	margin-left: 24px;
	position: relative;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	background: white;
}
.testimonial__img {
	position: absolute;
	left: -25px;
	top: 18px;
}
.testimonial__titel {
	color: #454545;
	text-shadow: 0.5px 0.9px 0 white;
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}
.testimonial__titel--color {
	color: #edbfff;
}
.testimonial__text {
	padding-top: 15px;
	text-shadow: 0.5px 0.9px 0 white;
	color: #454545;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}
.testimonial__fon {
	position: absolute;
	right: 38px; 
	bottom: -21px;
}
.radio-navigation--testimonial {
	width: 85px;
	position: relative;
	margin: 12px auto 0;
	left: 25px;
}
.radio-navigation__lable--testimonial {
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin-right: 17px;
}
input[name=radio-slider--testimonial] {
	display: none;
}
.radio-navigation__lable--testimonial:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	margin-right: 20px;
	left: 0;
	background-color: white;
	border: 1px solid #e6e6e6;
	box-shadow: 1px 1.7px 0 white;
	border-radius: 8px;
}
input[name=radio-slider--testimonial]:checked + .radio-navigation__lable--testimonial:before {
	content: "\25CF";
	color: #5a5a5a;
   	font-size: 25px;
    line-height: 16px;
}
/*-------blog---------*/
.blog {
	width: 434px;
	float: right;
	padding-top: 32px;
	margin-right: 16px;
}
.blog__titel {
	text-shadow: 0.5px 0.9px 0 white;
	color: #454545;
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}
.blog__article {
	position: relative;
	padding:19px 0 0 65px;
}
.blog-artikle__titel, .blog-artikle__text {
	text-shadow: 0.5px 0.9px 0 white;
	color: #454545;
	font-size: 16px;
	line-height: 24px;
}
.blog-artikle__sprit--first {
	width: 49px;
	height: 49px;
	position: absolute;
	left: 0;
	background: url(../img/blog__sprite.png) 0 0 no-repeat;
}
.blog-artikle__sprit--second {
	width: 49px;
	height: 49px;
	position: absolute;
	left: 0;
	background: url(../img/blog__sprite.png) 0 0 no-repeat;
	background-position: -50px 0;
}
.blog-artikle__sprit--third {
	width: 49px;
	height: 49px;
	position: absolute;
	left: 0;
	background: url(../img/blog__sprite.png) 0 0 no-repeat;
	background-position: -99px 0;
}
.blog__link {
	margin: 19px 4px 0 0;
	float: right;
	text-shadow: 0.5px 0.9px 0 white;
	color: #454545;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	text-decoration: none;
}
.blog__link--pc {
display: inline;
}

.blog__link--mobail {
	display: none;	
}
/*-----------logo------------*/
.logo-box {
	width: 100%;
	max-width: 960px;
	height: 65px;
	margin: 25px auto 0;
	display: block;
	padding: 0 91px 0 93px;
}
.logo-box__link {
	display: inline-block;
	text-decoration: none;
	padding-left: 63px;
	vertical-align: middle;
}
.logo-box__link:first-child {
	padding-left: 0;
}
.logo-box__link--mobail {
	padding-left: 63px;
}
/*-------------------FOOTER----------------------*/
.footer-information {
	width: 100%;
	max-width: 960px;
	margin: 103px auto 0;
}
.article-information {
	width: 275px;
	float: left;
}
.article-information__logo {
	text-transform: uppercase;
	text-shadow: 0 1px 0 white;
	color: #454545;
	font-size: 48px;
	font-weight: 400;
	line-height: 34px;
}
.article-information__logo--er {
	text-transform: uppercase;
	color: #b9b9b9;
}
.article-information__copy {
	padding-top: 21px;
	text-shadow: 0.5px 0.9px 0 white;
	color: #c5c5c5;
	font-family: Georgia, sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: 24px;
}
.article-information__text {
	padding-top: 5px;
	text-shadow: 0.5px 0.9px 0 white;
	color: #787878;
 	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}
.recent {
	width: 278px;
	float: left;
	margin-left: 62px;
}
.recent__title {
	text-transform: uppercase;
	text-shadow: 0.5px 0.9px 0 white;
	color: #454545;
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
}
.recent__text {
	padding-top: 10px;
	text-shadow: 0.5px 0.9px 0 white;
	color: #787878;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}
.news {
	width: 278px;
	float: left;
	margin-left: 62px;
}
.news__title {
	text-transform: uppercase;
	text-shadow: 0.5px 0.9px 0 white;
	color: #454545;
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
}
.news__text {
	padding-top: 10px;
	text-shadow: 0.5px 0.9px 0 white;
	color: #787878;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}
.news--mobail {
	display: none;
}
/*--------footer-menu--------*/
.footer-menu {
	width: 100%;
	max-width: 960px;
	margin: 46px auto 0;
}
.menu--footer {
	display: block;
	list-style-type: none;
	float: left;
}
.menu__item--footer{
	display: block;
	float: left;
	padding-left: 41px;
}
.menu__item--footer:first-child {
	padding-left: 0;
}
.menu__link--footer {
	text-decoration: none;
	text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
	color: white;
	font-size: 20px;
	font-weight: 400;
	line-height: 34px;
	text-transform: uppercase;
}
.footer-logo {
	float: right;
}
.footer-logo__text {
	text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
	color: white;
	font-size: 12px;
	line-height: 34px;
}
@media screen and (min-width: 768px) and (max-width: 960px) {
	.fon1 {
		max-width: 100%;
		height: 796px;
	}
	/*---------header-----------*/
	.mobail-menu {
		display: none;
	}
	.header {
		margin-bottom: 71px;
		margin-left: 20px;
	}
	.logo {
		float: none;
		overflow: hidden;
	}
	.menu {
		float: none;
		padding-top: 28px;
	}
	.menu__item--first {
		padding-left: 0;
	}
	/*--------slider----------*/
	.slider-article{
		width: 42%;
		padding-left: 45px;
		padding-top: 23px
	}
	.slider-article__title {
		font-size: 48px;
	}
	.slider-article__under-title {
		font-size: 24px;
	}
	.slider-article__text {
		font-size: 16px;
	}
	.slider-article__text-transition {
		display: none;
	}
	.sliders__img {
		margin-right: 49px;
		top: -25px 
	}
	.radio-navigation {
		top: 41px;
		margin-right: 142px;
	}
	/*----------fon2--------------*/
	.blurds {
		max-width: 768px;
		margin: 79px auto 0;
		padding-right: 20px;
	}
	.blurds-article {
		width: 201px;
		margin-left: 57px;
	}
	.blurds-article__article {
		width: 152px;
	}
	.blurds-article__titel {
		font-size: 24px;
	}
	.blurds-article__text {
		padding-top: 2px;
	}
	.blurds-article__link {
		padding-top: 5px;
	}	
	.blurds-article__text--mobail768 {
		display: none;
	}
	/*-------------fon3--------------*/
	.fon3__content {
		max-width: 768px;
		margin: 101px auto 0;
	}
	/*-----testimonials--------*/
	.testimonials {
		width: 314px;
	}
	.testimonial {
		width: 314px;
		padding: 32px 25px 0 38px;
		margin-left: 42px;
	}
	.testimonial__img {
		position: absolute;
		left: -25px;
		top: 18px;
	}
	.testimonial__titel {
		font-size: 24px;
	}
	.testimonial__titel--color {
		display: block;
		padding-top: 2px;
	}
	.testimonial__text--mobail {
		display: none;
	}
	.testimonial__text {
		padding-top: 5px;
	}
	.testimonial__fon {
		display: none;
	}
	.radio-navigation--testimonial {
		left: 45px;
	}
	/*-------blog---------*/
	.blog {
		width: 328px;
		margin-right: 25px;
	}
	.blog__article {
		padding:20px 0 0 65px;
	}
	.blog-artikle__text--mobail {
		display: none;
	}
	.blog__link {
		margin: 17px 4px 0 0;
	}
	.blog__link--pc {
	display: none;
	}
	.blog__link--mobail {
		display: inline;	
	}
	/*--------logo-------*/
	.logo-box {
	max-width: 768px;
	margin: 30px auto 0;
	padding: 0 0 0 20px;
	}
	.logo-box__link {
		padding-left: 55px;
	}
	.logo-box__link--mobail {
		padding-left: 55px;
	}
	/*-------------------FOOTER----------------------*/
	.fon6 {
    height: 200px;
	}
	.footer-information {
		max-width: 768px;
		margin: 108px auto 0;
	}
	.article-information {
		display: none;
	}
	.recent {
		display: none;
	}
	.news {
		width: 204px;
		float: left;
		margin-left: 21px;
	}
	.news__title {
		font-size: 24px;
	}
	.news__text {
		padding-top: 10px;
	}
	.news__text--mobail {
		display: none;
	}
	.news--mobail {
		display: block;
		width: 204px;
		float: left;
		margin-left: 62px;
	}
	/*--------footer-menu--------*/
	.footer-menu {
		max-width: 768px;
		margin: 46px auto 0;
	}
	.menu--footer {
		width: 100%;
		display: inline-block;
		list-style-type: none;
		float: none;
		margin-left: 22px;
	}
	.menu__item--footer{
		display: block;
		float: left;
		padding-left: 41px;
	}
	.menu__item--footer:first-child {
		padding-left: 0;
	}
	.menu__link--footer {
		text-decoration: none;
		text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
		color: white;
		font-size: 20px;
		font-weight: 400;
		line-height: 34px;
		text-transform: uppercase;
	}
	.footer-logo {
		float: right;
		margin-right: 20px;
	}
}
@media screen and (min-width: 480px) and (max-width: 768px) {
	.fon1 {
		max-width: 100%;
		height: 548px;
	}
	.header {
		width: 100%;
		max-width: 768px;
		margin: 50px auto 91px;
	}
	.logo {
		width: 157px;
		margin: 0 auto;
		float: none;
	}
	/*----------mobail-menu--------*/
	.menu {
		display: block;
		width: 246px;
		position: absolute;
		visibility: hidden;
		top:131px;
		left: 50%;
		margin-left: -123px;
		border: 1px solid #051116;
		border-radius: 7px;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
		background: rgba(54,41,62,0.9);
		z-index: 10;
		text-align: center;
		padding: 0;
	}
	.menu__item, .menu__item--first  {
		height: 47px;
		float: none;
		padding: 0;
	}
	.menu__item--first {
		border-radius: 7px 7px 0 0;
		border-top: 1px solid #5e4769;
	}
	.menu__item {
		border-top: 1px solid #36283e;
		border-left: 1px solid #5e4769;
		border-right: 1px solid #5e4769;
		border-bottom: 1px solid #503d58;
	}
	.menu__item:last-child {
		border-bottom:  1px solid #5e4769;
		border-radius:  0 0 7px 7px;
	}
	.menu__link {
		display: block;
		padding: 8px 0 0;
		text-decoration: none;
	}
	.menu__link--mobail {
		display: inline;
		border-bottom: 2px solid #edbfff;
		padding:8px 0 0;
		visibility: visible;
	}
	.menu__link--mobail:hover {
		text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
	}
	.menu:hover {
		visibility: visible;
		transform: visibility 0.3s linear 0.5s;
	}
	/*--------slider--------*/

	.sliders {
		height: 246px;
	}
	.fon-slider {
		height: 246px;
	}
	.slider-article{
		width: 52%;
		padding-left: 35px;
		padding-top: 14px;
	}
	.slider-article__title {
		font-size: 36px;
	}
	.slider-article__under-title {
		font-size: 18px;
		line-height: 0;
	}
	.slider-article__text {
		display: none;
	}
	.sliders__img {
		width: 100%;
		max-width: 190px;
		margin-right: 34px;
	}
	.radio-navigation {
		width: 80px;
		margin: 0 auto;
		top:26px;
		left: 25px;
	}
	/*-------fon2---------*/
	.fon2 {
		height: 599px;
	}
	.blurds {
		max-width: 480px;
		height: 599px;
		margin: 79px auto 0;
		padding-right: 50px;
	}
	.blurds-article {
		width: 419px;
		margin-left: 33px;
		margin-top: 30px;
		float: none;
		overflow: hidden;
	}
	.blurds-article:last-child {
	margin-left: 33px;
	}
	.blurds-article__article {
		width: 370px;
	}
	.blurds-article__titel {
		font-size: 24px;
	}
	.blurds-article__text {
		padding-top: 2px;
	}
	.blurds-article__link {
		padding-top: 5px;
	}	
	.blurds-article__text--mobail768 {
		display: inline;
	}
	/*--------------fon3-----------------*/
	.fon3 {
		height: 788px;
	}
	.fon3__content {
		max-width: 480px;
		margin: 68px auto 0;
	}
	/*-----testimonials--------*/
	.testimonials {
		width: 417px;
		float: none;
	}
	.testimonial {
		width: 417px;
		padding: 32px 31px 0 38px;
		margin-left: 40px;
	}
	.testimonial__img {
		position: absolute;
		left: -25px;
		top: 18px;
	}
	.testimonial__titel {
		font-size: 30px;
	}
	.testimonial__titel--color {
		display: inline;
		padding-top: 0;
	}
	.testimonial__text--mobail {
		display: inline;
	}
	.testimonial__text {
		padding-top: 15px;
	}
	.testimonial__fon {
		display: none;
	}
	.radio-navigation--testimonial {
		left: 35px;
	}
	/*-------blog---------*/
	.blog {
		width: 339px;
		margin-left: 80px;
		margin-top: 33px;
		float: none;
	}
	.blog__article {
		padding:20px 0 0 65px;
	}
	.blog-artikle__text--mobail {
		display: none;
	}
	.blog__link {
		margin: 17px 4px 0 0;
	}
	.blog__link--pc {
	display: none;
	}
	.blog__link--mobail {
		display: inline;	
	}
	/*--------logo-------*/
	.fon4 {
		height: 232px;
	}
	.logo-box {
	max-width: 480px;
	margin: 30px auto 0;
	padding: 0 66px 0 66px;
	}
	.logo-box__link {
		padding-left: 52px;
		padding-bottom: 30px;
	}
	.logo-box__link:first-child {
		padding-left: 15px;
		padding-bottom: 30px;
	}
	.logo-box__link--avsm {
		padding-left: 0;
	}
	/*----------footer-------------*/
	.fon5 {
    height: 668px;
	}
	.footer-information {
		max-width: 480px;
		margin: 78px auto 0;
	}
	.article-information {
		display: none;
	}
	.recent {
		display: none;
	}
	.news {
		width: 441px;
		float: none;
		margin-left: 15px;
	}
	.news__text {
		padding-top: 10px;
	}
	.news__text--mobail {
		display: inline;
	}
	.news--mobail {
		display: block;
		width: 441px;
		float: none;
		margin-left: 15px;
		margin-top: 32px;
	}
	/*--------footer-menu--------*/
	.fon6 {
		height: 200px;
	}
	.footer-menu {
		max-width: 480px;
		margin: 40px auto 0;
	}
	.menu--footer {
		width: 440px;
		display: inline-block;
		list-style-type: none;
		float: none;
		margin-left: 18px;
	}
	.menu__item--footer{
		display: block;
		float: left;
		padding-left: 25px;
	}
	.menu__item--footer:first-child {
		padding-left: 0;
	}
	
	.footer-logo {
		width: 141px;
		float: none;
		position: relative;
		margin-left: 50%;
		margin-top: 14px;
		left: -73px;
	}

}
@media screen and (min-width: 320px) and (max-width: 480px){
	.fon1 {
		width: 100%;
		max-height: 514px; 
	}
	.header {
		width: 100%;
		max-width: 480px;
		margin: 50px auto 91px;
	}
	.logo {
		width: 157px;
		margin: 0 auto;
		float: none;
	}
	/*----------mobail-menu--------*/
	.menu {
		display: block;
		width: 246px;
		position: absolute;
		visibility: hidden;
		top:139px;
		left: 50%;
		margin-left: -123px;
		border: 1px solid #051116;
		border-radius: 7px;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
		background: rgba(54,41,62,0.9);
		z-index: 10;
		text-align: center;
		padding: 0;
	}
	.menu__item, .menu__item--first  {
		height: 47px;
		float: none;
		padding: 0;
	}
	.menu__item--first {
		border-radius: 7px 7px 0 0;
		border-top: 1px solid #5e4769;
	}
	.menu__item {
		border-top: 1px solid #36283e;
		border-left: 1px solid #5e4769;
		border-right: 1px solid #5e4769;
		border-bottom: 1px solid #503d58;
	}
	.menu__item:last-child {
		border-bottom:  1px solid #5e4769;
		border-radius:  0 0 7px 7px;
	}
	.menu__link {
		display: block;
		padding: 8px 0 0;
		text-decoration: none;
	}
	.menu__link--mobail {
		display: inline;
		border-bottom: 2px solid #edbfff;
		padding:8px 0 0;
		visibility: visible;
	}
	.menu__link--mobail:hover {
		text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
	}
	.menu:hover {
		visibility: visible;
		transform: visibility 0.3s linear 0.5s;
	}
	
	/*-------slider-------*/
	.sliders {
		height: 0;
	}
	.fon-slider {
		background: none;
	}
	.slider-article{
		width: 100%;
		text-align: center;
		padding:14px 0 79px;
	}
	.slider-article__title {
		font-size: 36px;
	}
	.slider-article__under-title {
		font-size: 18px;
	}
	.slider-article__text {
		display: none;
	}
	.sliders__img {
		display: none;
	}
	.radio-navigation {
		width: 80px;
		margin: 0 auto;
		top:15px;
		float: none;
		left: 0;
	}
	/*-------fon2---------*/
	.fon2 {
		height: 599px;
	}
	.blurds {
		max-width: 320px;
		height: 599px;
		margin: 71px auto 0;
		padding-right: 48px;
	}
	.blurds-article {
		width: 261px;
		margin-left: 33px;
		margin-top: 28px;
		float: none;
		overflow: hidden;
	}
	.blurds-article:last-child {
		margin-left: 33px;
		margin-top: 35px;
	}
	.blurds-article__article {
		width: 212px;
	}
	.blurds-article__link {
		padding-top: 12px;
	}	
	.blurds-article__text--mobail768 {
		display: none;
	}
	.blurds-article__text--mobail320 {
		display: none;
	}
	/*--------------fon3-----------------*/
	.fon3 {
		height: 788px;
	}
	.fon3__content {
		max-width: 480px;
		margin: 68px auto 0;
	}
	/*-----testimonials--------*/
	.testimonials {
		width: 320px;
		float: none;
	}
	.testimonial {
		width: 257px;
		padding: 28px 31px 0 35px;
		margin-left: 43px;
	}
	.testimonial__img {
		position: absolute;
		left: -25px;
		top: 18px;
	}
	.testimonial__titel {
		font-size: 24px;
	}
	.testimonial__titel--color {
		display: block;
		padding-top: 2px;
	}
	.testimonial__text--mobail {
		display: none;
	}
	.testimonial__text--mobail320 {
		display: none;
	}
	.testimonial__text {
		padding-top: 3px;
	}
	.testimonial__fon {
		display: none;
	}
	.radio-navigation--testimonial {
		left: 22px;
	}
	/*-------blog---------*/
	
	.blog {
		width: 279px;
		margin-left: 20px;
		margin-top: 33px;
		float: none;
	}
	.blog__article {
		padding:25px 0 0 65px;
	}
	.blog-artikle__titel {
		display: inline-block;
		width: 157px;
		height: 18px;
		overflow: hidden;
	}
	.blog-artikle__text {
		display: inline-block;
		height: 18px;
		overflow: hidden;
	}
	.blog-artikle__text--mobail {
		display: none;
	}
	.blog__link {
		margin: 17px 4px 0 0;
	}
	.blog__link--pc {
	display: none;
	}
	.blog__link--mobail {
		display: inline;	
	}
	/*--------logo-------*/
	.fon4 {
		height: 421px;
	}
	.logo-box {
		max-width: 768px;
		margin: 51px auto 0;
		padding: 0 0 0 0;
	}
	.logo-box__link {
		display: inline-block;
		padding-bottom: 61px;
		padding-left: 42px;
	}
	.logo-box__link:first-child {
		padding-bottom: 61px;
		padding-left: 62px;
	}
	.logo-box__link--dg {
		padding: 0 0 61px 55px;
	}
	.logo-box__link--strila {
		padding-left: 70px;
	}
	.logo-box__link--avsm {
		padding-left: 65px;
	}
	
	.logo-box__link--vonzipper {
		padding-left: 54px;
	}
	/*----------footer-------------*/
	.fon5 {
    display: none;
	}
	/*--------footer-menu--------*/
	.footer-menu {
		max-width: 320px;
		margin: 42px auto 0;
	}
	.menu--footer {
		display: none;
	}
	.footer-logo {
		width: 141px;
		float: none;
		position: relative;
		margin-left: 50%;
		margin-top: 14px;
		left: -73px;
	}
}
